---
Language: Cpp
Standard: Cpp11
IndentWidth: 4
UseTab: Never
# AlwaysBreakAfterReturnType: TopLevel
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterFunction: false
    SplitEmptyFunction: false
...
# vim:set ft=yaml:
